
@font-face {
    font-family: 'Zwizz Bold';
    font-weight: normal;
    src: url('/fonts/Zwizz-Bold.ttf') format('truetype');
}
    
    
@font-face {
    font-family: 'Zwizz Regular';
    font-weight: normal;
    font-style: normal;
    src: url('/fonts/Zwizz-Regular.ttf') format('truetype');
}




html{
    /* SCROLLLEISTE MIT FARBE MODIFIZIERT */
    --scrollbarBG: #111111; 
    --thumbBG: #777777;
    font-family: 'Zwizz Regular';
    background-color: #000000;
    color: white;
    text-align: center;
    /* SCROLLLEISTE MIT FARBE MODIFIZIERT */
}

body::-webkit-scrollbar {
    width: 11px;
  }

  body {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
    margin: 0;
  }

  body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }
  body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
  }


a{
    color: black;
    text-decoration: none;
    transition: 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
}

a:hover{
    color: rgb(190, 190, 190);
    transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* KNOPF GLOBAL */

button{
    border: none;
    background-color: #ffffff;
    color: black;
    font-size: 12pt;
    font-family: 'Zwizz Bold';
    transition: 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
}

button:hover{
    border: none;
    color: rgb(190, 190, 190);
    transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    cursor: pointer;
}

/* KNOPF GLOBAL */


main{
    margin-top: 20px;
}


/* FOOTER MIT IMPRESSUM, KONTAKT ETC. */

footer{
    width: 100%;
    text-align:center;
    color: white;
    overflow: hidden;
}

footer a{
    color: white;
    font-size: 12pt;
    display: inline;
    transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

footer a:hover{
    transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    color: grey;
}

footer p{
    display: inline;
    font-size: 12pt;
}




.blur-rule {
    text-align: center;
    height: 1px;
    width: 79%;
    background-color: #ffffff;
    margin: 20px 0;
    display: block;
    margin: auto;
    -webkit-box-shadow: 0 0 4px 0 #666;
    -moz-box-shadow: 0 0 4px 0 #666;
    box-shadow: 0 0 4px 0 #666;
    margin-bottom: 10px;
  }




#deleteUser{
    border: none;
    background-color: #ffffff;
    color: white;
    font-size: 12pt;
    font-family: 'Zwizz Bold';
    transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#deleteUser:hover{
    border: none;
    background-color: darkred;
    transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    cursor: pointer;
}


#editUser{
  border: none;
  background-color: #ffffff;
  color: white;
  font-size: 12pt;
  font-family: 'Zwizz Bold';
  transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#editUser:hover{
  border: none;
  background-color: rgb(196, 193, 24);
  transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: pointer;
}





h3{
    font-size:45pt;
}



    /* PRODUKTGALERIE */
    /* PRODUKTGALERIE */
    /* PRODUKTGALERIE */
    /* PRODUKTGALERIE */

div.galleryWrapper{
    margin: auto; /* Make the container element behave like a table */
    width: 75%;
}


  .column1,.column2 {
    box-sizing: border-box;
    padding:0px;
  }
  
  /* Create two equal columns that floats next to each other */
  .column1 {
    float: left;
    text-align:center;
    padding-top:10px;
    width: 30%;
    height: 200px; /* Should be removed. Only for demonstration */
  }
  
  .column2 {
    float: left;
    width: 70%;
    padding: 10px;
    height: 200px; /* Should be removed. Only for demonstration */
  }
  
  .row {

    border: 1px solid #777;
    transition: .6s ease;
    margin: 5px;
  }

  
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }


  .blink_text { /* IST KOPIERT, IST ABER AUCH NUR EIN KLEINES FEATURE ;) */

    animation:2s blinker linear infinite;
    -webkit-animation:2s blinker linear infinite;
    -moz-animation:2s blinker linear infinite;

     color: red;
    }

    @-moz-keyframes blinker {  
     0% { opacity: 1.0; }
     50% { opacity: 0.0; }
     100% { opacity: 1.0; }
     }

    @-webkit-keyframes blinker {  
     0% { opacity: 1.0; }
     50% { opacity: 0.0; }
     100% { opacity: 1.0; }
     }

    @keyframes blinker {  
     0% { opacity: 1.0; }
     50% { opacity: 0.0; }
     100% { opacity: 1.0; }
     }