html, body {
    height: 100%;
    font-family: Arial;
    text-align: center;
    background: #000000;
    color: white;
}

.main {
    height: 100%;
    width: 100%;
    display: table;
}

.wrapper {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

form {
    display: inline-block;
}

button{
    background-color: white;
    border: none;
}